@model RapidApiProject.Models.HotelDetailsViewModel.Data
@{
    ViewData["Title"] = "GetHotelDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

@* <div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Hotel Deatils</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <span>Hotel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="@TempData["Photo"]">
                    <div class="rd-text">
                        <div class="rd-title">
                             <h3>@Model.hotel_name</h3>
                            <div class="rdt-right">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <a href="#">Booking Now</a>
                            </div>
                        </div>
                         <h2><span>Available Rooms:/@Model.available_rooms</span></h2> 
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Description:</td>
                                    <td>@Model.address</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Room Size : </td>
                                    <td>@Model.average_room_size_for_ufi_m2 /m2</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Default Language : </td>
                                    <td>@Model.default_language</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Include Breakfast: </td>
                                    <td>@Model.hotel_include_breakfast</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Family Friendly: </td>
                                    <td>@Model.is_family_friendly</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<br /> *@


<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Hotels</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <span>Hotel Detail</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="~/sona-master/img/room/room-details.jpg" alt="">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>@Model.hotel_name</h3>
                            <div class="rdt-right">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <a href="@Model.url">Booking Now</a>
                            </div>
                        </div>
                        <h6>@Model.available_rooms<span>/Available Room</span></h6>
                        <h6>@Model.arrival_date<span>/Arrival Date</span></h6>
                        <h6>@Model.departure_date<span>/Departure Date</span></h6>
                        <hr />
                        <h2>Our Services</h2>
                        <hr />
                        <ul>
                            @foreach (var item in Model.property_highlight_strip)
                            {
                                <li>
                                    @item.name
                                </li>
                            }
                        </ul>


                        <p class="f-para">
                        </p>
                    </div>
                </div>
                <div class="rd-reviews">
                    <h4>Reviews</h4>
                    <div class="review-item">
                        <div class="ri-pic">
                            <img src="~/sona-master/img/room/avatar/avatar-1.jpg" alt="">
                        </div>
                        <div class="ri-text">
                            <span>27 Aug 2019</span>
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5>Brandon Kelley</h5>
                            <p>
                                Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                                magnam.
                            </p>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="ri-pic">
                            <img src="~/sona-master/img/room/avatar/avatar-2.jpg" alt="">
                        </div>
                        <div class="ri-text">
                            <span>27 Aug 2019</span>
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5>Brandon Kelley</h5>
                            <p>
                                Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                                magnam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="review-add">
                    <h4>Add Review</h4>
                    <form action="#" class="ra-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name*">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email*">
                            </div>
                            <div class="col-lg-12">
                                <div>
                                    <h5>You Rating:</h5>
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>
                                </div>
                                <textarea placeholder="Your Review"></textarea>
                                <button type="submit">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Your Reservation</h3>
                    <form action="#">
                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Guests:</label>
                            <select id="guest">
                                <option value="">3 Adults</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Room:</label>
                            <select id="room">
                                <option value="">1 Room</option>
                            </select>
                        </div>
                        <button type="submit">Check Availability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>